.books-container {
  text-align: center;
}

.custom-header {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 60px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.book {
  width: calc((100% - 60px) / 4);
  margin-bottom: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.book:hover {
  transform: scale(1.1);
}

.book img {
  width: 70%;
  height: auto;
  margin-bottom: 20px;
}

.line {
  width: 10%;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 25px;
}

.parent-container {
  width: 100%;
  overflow: hidden;
}

.custom-button {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  background-color: #e27d60;
  border-color: #e27d60;
}

.custom-button:hover {
  background-color: #c7694b;
  border-color: #c7694b;
}

.custom-button:active {
  background-color: #c7694b !important;
  border-color: #d8c3a5 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  color: #333; /* Button text color */
  background-color: #e8a87c !important; /* Button background color */
  border: 1px solid #ccc; /* Button border color */
  padding: 6px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-color: #e27d60 !important;
}

.pagination-button:hover {
  background-color: #c7694b;
  color: #333;
  border-color: #eae7dc;
  box-shadow: 0 0 0 2px #c7694b;
}
.pagination-button:focus {
  border-color: #eae7dc !important;
  box-shadow: 0 0 0 2px #c7694b;
  outline: none;
}

.pagination-button.active {
  color: #fff;
  background-color: #c7694b !important;
  border-color: #c7694b !important;
}
